@import "page-structure.css";
@import "text-helpers.css";
@import "fonts.css";

:root {
    font-family: Apfel Grotezk;
    --page-background-colour: #f0d9f5;
}

body {
    background-color: var(--page-background-colour);    
    color: #212121;
}

a {
    color: #667e55;
    --transition-duration: 0.25s;    
    transition: color var(--transition-duration);
    
}

a:hover {
    color: #57a51c;    
    transition: color var(--transition-duration);
}

a img.platform-icon {
    --transition-duration: 0.25s;
    transform: scale(1.0);
    transition: transform var(--transition-duration);
}

a img.platform-icon:hover {
    transition: transform var(--transition-duration);
    transform: scale(1.2);
}

p {
    max-width: 40ch;
}

img {
    max-width: 100%;
    display: block;
}

ul li.icon-li  {
    display:flex;
    align-items:center;
    margin-bottom:1rem;
}

ul.icon-ul  {
    list-style: none;
}

.center-text {
    text-align: center;
}

a.landing-hyperlink {
    font-size: 1.25rem;
}

a.active-link {
    color: #a2b494;
}

img.platform-icon {
    width:24px;
}

div.center-container-flex-vertical-fullheight {
    display:flex; 
    flex-direction: column; 
    align-items:center; 
    justify-content:center; 
    height:100%;
}

div.center-container-flex-horizontal-fullheight {
    display:flex; 
    flex-direction: row; 
    align-items:center; 
    justify-content:center; 
    height:100%;
    flex-wrap: wrap;    
}

div.center-container-flex-horizontal {
    display:flex; 
    flex-direction: row; 
    align-items:center; 
    justify-content:center; 
    flex-wrap: wrap;    
}

div.container-flex-horizontal {
    display:flex; 
    align-items:stretch; 
    justify-content:center;
    flex-wrap:wrap;
}