@import "page-structure.css";
@import "text-helpers.css";
@import "fonts.css";

:root {
    font-family: Apfel Grotezk;
}

img {
    max-width: 100%;
    display: block;
  }

.center-text {
    text-align: center;
}

a.landing-hyperlink {
    font-size: 1.25rem;
}

img.about-selfie {
    min-width: 10%; 
    max-width: 500px;
}

img.platform-icon {
    width:24px;
}

div.footer-text {
    color: gray;
}

div.center-container-flex-vertical {
    display:flex; 
    flex-direction: column; 
    align-items:center; 
    justify-content:center; 
    height:100%;
}

div.center-container-flex-horizontal {
    display:flex; 
    flex-direction: row; 
    align-items:center; 
    justify-content:center; 
    height:100%;
    flex-wrap: wrap;    
}

div.container-flex-horizontal {
    display:flex; 
    align-items:center; 
    justify-content:center;
}

@media (max-width: 800px) {

    div.center-container-flex-horizontal {
        flex-direction: column;
    }

    img.about-selfie {
        max-width: 75vw;    
    }    
}

.outline {
    --t: 1px;
    --c: black;
    --f: 1px;
    --nt: calc(var(--t) * -1);

    text-shadow: var(--nt) var(--nt) var(--f) var(--c), 
    var(--nt) 0 var(--f) var(--c), 
    var(--nt) var(--t) var(--f) var(--c), 
    0 var(--t) var(--f) var(--c), 
    var(--t) var(--t) var(--f) var(--c),
    var(--t) 0 var(--f) var(--c),
    var(--t) var(--nt) var(--f) var(--c),
    0 var(--nt) var(--f) var(--c);
}